html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Helvetica', Helvetica;
}

body {
    background-image: linear-gradient(to right, rgb(118, 184, 222), rgb(185, 128, 173));
    color: black;
    margin: 2%;
    margin-top: 10%;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-family: 'Helvetica', 'Helvetica', Helvetica;
    text-align: center;
    transition: font-size 0.5s ease;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    body {
        font-size: 24px;
    }
    h1 {
        font-size: 45px;
    }
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(198, 88, 156);
}

/* dark */
body.dark-background {
    background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(30, 30, 30));
}

/* light */
body.light-background {
    background-image: linear-gradient(to right, rgb(118, 184, 222), rgb(185, 128, 173));
}

/* glass effect */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* tablet and mobile */
    background: rgba(11, 236, 224, 0.6);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.532);
}

nav:hover {
    background: rgba(255, 255, 255, 0.9);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
    transition: color 0.3s ease;
}

nav li a:hover {
    color: rgb(198, 88, 156);
}


.content {
    margin-top: 60px;
}

.content {
    margin-top: 60px; 
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.modal-content {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
    margin: 10% auto;
    background-color: white;
    padding: 20px;
    border: 5px solid rgb(106, 201, 160);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* dark */
body.dark-background {
    background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(30, 30, 30));
}

/* light*/
body.light-background {
    background-image: linear-gradient(to right, rgb(118, 184, 222), rgb(185, 128, 173));
}

/* nav for glass effect hover */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(11, 236, 224, 0.6);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.532);
}

nav:hover {
    background: rgba(255, 255, 255, 0.9);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
    transition: color 0.3s ease;
}

nav li a:hover {
    color: rgb(198, 88, 156);
}
